/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 60px var(--page-padding);
}

.page {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr auto;
  justify-items: end;
  padding: var(--page-padding);
  block-size: max(100vb, 668px);
}

.header__lamp {
  position: absolute;
  display: var(--display-lamp);
  align-items: center;
  color: var(--accent-color);
  text-transform: uppercase;
  gap: 10px;
  inset-block-start: var(--page-padding);
  inset-inline-end: calc(var(--page-padding) + 8px);
}

.header__lamp::after {
  content: '';
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--menu-color);
  border-block-start: 1px solid var(--menu-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: var(--page-padding);
  inset-block-start:  var(--page-padding);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--menu-color);
  border-block-end: 1px solid var(--menu-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: var(--page-padding);
  inset-block-end: var(--page-padding);
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 0px 13px;
  text-transform: lowercase;
  color: var(--menu-color);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color);
  pointer-events: none;
}

.title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--title-color);
}

.header__title {
  justify-self: start;
  text-shadow: 4px 4px 0px var(--title-shadow-color);
}

.header__text {
  margin-block-start: var(--margin-header-text);
  max-inline-size: 491px;
  max-block-size: 71px;
}

.title__decor {
  color: var(--title-decor-color);
  font-weight: 700;
  font-size: var(--font-size);
  background-color: var(--accent-color);
}

.main__section-content-title {
  font-weight: 400;
}

.main__section {
  display: grid;
  gap: 20px;
  grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
}

.main__section-title {
  font-size: var(--font-size);
  color: var(--menu-color);
}

.factors .main__section-title {
  margin-block-end: 20px;
  width: 315px;
}

.main__section-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  flex-wrap: wrap;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.text-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
}

.gallery__image-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  padding: var(--page-padding);
  block-size: max(100vb, 668px);
}

.footer__title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0px var(--title-shadow-color);
}

@media (width >= 1024px) {

  .factors .main__section {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 1;
    grid-row: 2 / 3;
  }

  .cause,
  .advices {
    column-gap: 30px;
  }

  .gallery {
    margin-block-end: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 260px 315px 428px;
  }
}

@media (width >= 768px) {

  @media (width < 1024px) {

    :root {
      --margin-header-text : 162px;
    }
    
    .main__section {
      grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
    }

    .factors .main__section {
      grid-template-columns: auto;
    }

    .factors .main__section-content {
      grid-column: span 3;
    }

    .factors .main__section-title {
      width: 236px;
    }

    .header__text {
      max-inline-size: 364px;
      max-block-size: 117px;
    }

    .header__theme-menu {
      justify-self: end;
      align-self: center;
    }

    .header__theme-menu-list {
      flex-direction: column;
    }
    
    .gallery {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 192px 230px 318px;
    }
  
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .cause .main__section-content, 
  .advices .main__section-content {
    grid-column: 2 / 4;
  }

  .advices .main__section-title {
    grid-row: span 2;
  }

  .advices .advices__title {
    grid-column: span 2;
  }

  .gallery .title__decor {
    grid-column: span 3;
  }

  .gallery__image:nth-of-type(1), .gallery__image:nth-of-type(5) {
    grid-column: span 2;
  }

  .gallery__image:nth-of-type(2), .gallery__image:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width < 768px) {

  :root {
    --margin-header-text : 55px;
    --page-padding: 10px;
  }

  main {
    padding: 40px var(--page-padding);
    gap: 50px;
  }

  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .main__section {
    grid-template-columns: auto;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .gallery {
    grid-template-rows: auto 142px 355px 237px 355px 237px;
    gap: 10px;
  }
}