/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0px 20px;
  margin: 60px 0px;
}

.page {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr auto;
  justify-items: end;
  padding: 20px;
  block-size: max(100vb, 668px);
}

.header__lamp {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--accent-color);
  gap: 10px;
  inset-block-start: 20px;
  inset-inline-end: 28px;
}

.header__lamp::after {
  content: '';
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  block-size: 9px;
  inline-size: 9px;
}

.header::before {
  content: '';
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end:20px;
  inset-block-start:20px;
}

.header::after {
  content: '';
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start:20px;
  inset-block-end:20px;
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 0px 13px;
  text-transform: lowercase;
  color: var(--accent-color);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button:active {
  outline: 1px solid var(--accent-color);
}

.title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--title-color);
}

.header__title {
  justify-self: start;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__text {
  margin-block-start: 114px;
  max-inline-size: 491px;
  height: 71px;
}

.title__decor {
  color: #000028;
  font-weight: 700;
  font-size: var(--font-size);
  background-color: var(--accent-color);
}

.main__section-content-title {
  font-weight: 400;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-title {
  font-size: var(--font-size);
  color: var(--accent-color);
}

.main__section-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__section-content {
  font-weight: 400;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery {
  grid-template-rows: auto 260px 315px 428px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
}

.gallery__image-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: 20px;
  block-size: max(100vb, 668px);
}

.footer::before {
  content: '';
  display: block;
  justify-self: end;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
}

.footer::after {
  content: '';
  display: block;
  align-self: flex-end;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (width >= 1024px) {
  .main__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .factors .main__section-content {
    grid-column: span 1;
    grid-row: 2 / 3;
  }

}

@media (width >= 768px) {
  .cause .main__section-content, .advices .main__section-content {
    grid-column: 2 / 4;
  }

  .advices .main__section-title {
    grid-row: span 2;
  }

  .advices .advices__title {
    grid-column: span 2;
  }

  .gallery .title__decor {
    grid-column: span 3;
  }

  .gallery__image:nth-of-type(1), .gallery__image:nth-of-type(5) {
    grid-column: span 2;
  }

  .gallery__image:nth-of-type(2), .gallery__image:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width < 768px) {
  .gallery {
    gap: 10px;
  }
}